<template>
    <lightning-card>
        <div class="slds-var-m-around_x-large">
            <template if:true={showPolicies}>

                Policies
                <lightning-datatable
                    key-field="Id"
                    data={policies}
                    columns={policyColumns}
                    hide-checkbox-column></lightning-datatable>  
    
                <br/>
            </template>
    Additional Policies
    <lightning-datatable
    key-field="Id"
    data={additionalPolicies}
    columns={additionalColumns}
    hide-checkbox-column></lightning-datatable>  
        </div>
    </lightning-card>      
</template>